# Ignore everything
**

# Allow source files
!/package.json
!/yarn.lock
!/webpack.config.js
!/webpack/build-config.js
!/babel.config.js
!/knexfile.env.js
!/dev-tools/babel-run
!/dev-tools/insert-invite.js
!/dev-tools/migrate-worker.js
!/dev-tools/export-all-campaigns.js
!/dev-tools/export-campaigns-by-argv.js
!/src/*
!/migrations
!/seeds
